In [1]:
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

# Simulation results 1

In [2]:
df_1 = pd.read_csv('simulation_results_1.csv', header=1)
df_1.head(10)

,Unnamed: 0,Unnamed: 1,Dry-bulb temperature (�C),Total system energy (kBtu/h),System natural gas (kBtu/h),System electricity (kBtu/h),Total lights energy (kBtu/h),Lights electricity (kBtu/h),Total equip energy (kBtu/h),Equip electricity (kBtu/h),Total CE ex equip (kgCO2/h),Total system CE (kgCO2/h),System nat. gas CE (kgCO2/h)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Date,Time,NewcastleEWY.fwt,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Sun, 01/Jan",24:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,00:15,NaN,7.460,7.325,0.135,0.000,0.000,2.912,2.912,0.5,0.5,0.5
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,00:45,NaN,7.465,7.330,0.135,0.000,0.000,2.912,2.912,0.5,0.5,0.5

In [3]:
df_1.rename(columns={'Unnamed: 0': 'Date', 'Unnamed: 1': 'Time', 'Dry-bulb temperature (�C)': 'Dry-bulb temperature (°C)'}, inplace=True)
df_len_1 = len(df_1["Date"])
# Drop the first 5 rows
df_1 = df_1.drop(df_1.index[:5])

df_1.head(10)

,Date,Time,Dry-bulb temperature (°C),Total system energy (kBtu/h),System natural gas (kBtu/h),System electricity (kBtu/h),Total lights energy (kBtu/h),Lights electricity (kBtu/h),Total equip energy (kBtu/h),Equip electricity (kBtu/h),Total CE ex equip (kgCO2/h),Total system CE (kgCO2/h),System nat. gas CE (kgCO2/h)
5,"Sun, 01/Jan",24:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,00:15,NaN,7.460,7.325,0.135,0.000,0.000,2.912,2.912,0.5,0.5,0.5
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,00:45,NaN,7.465,7.330,0.135,0.000,0.000,2.912,2.912,0.5,0.5,0.5
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,01:00,5.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,01:15,NaN,7.468,7.333,0.135,0.000,0.000,2.912,2.912,0.5,0.5,0.5
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Custom date parser function
def custom_date_parser(date_str):
    return pd.to_datetime(date_str, format='%a, %d/%b')

# Convert the Date column using the custom parser
df_1["Date"] = df_1["Date"].apply(custom_date_parser)
df_1["Date"] = df_1["Date"].dt.strftime('%m-%d')

In [5]:
for i in range(0, len(df_1["Date"]), 144):
    # Get the date from row 0
    date_to_duplicate = df_1.iloc[i]['Date']

    # Assign this date to rows 0 to 143
    df_1.iloc[i:144 + i, df_1.columns.get_loc('Date')] = date_to_duplicate

In [6]:
for i in range(6, len(df_1["Date"]), 6):
    temp_to_duplicate = df_1.iloc[i]['Dry-bulb temperature (°C)']
    
    df_1.iloc[i - 4, df_1.columns.get_loc('Dry-bulb temperature (°C)')] = temp_to_duplicate
    df_1.iloc[i - 2, df_1.columns.get_loc('Dry-bulb temperature (°C)')] = temp_to_duplicate

In [8]:
for i in range(6, df_len_1, 2):
    df_1.drop(i, inplace=True)

In [10]:
for i in range(5, df_len_1, 6):
    df_1.drop(i, inplace=True)

In [11]:
df_1.iloc[-1, df_1.columns.get_loc('Dry-bulb temperature (°C)')] = df_1.iloc[-3]['Dry-bulb temperature (°C)']
df_1.iloc[-2, df_1.columns.get_loc('Dry-bulb temperature (°C)')] = df_1.iloc[-3]['Dry-bulb temperature (°C)']

In [12]:
# Convert Date and Time columns to datetime objects
df_1['Date'] = pd.to_datetime(df_1['Date'], format='%m-%d')
df_1['Time'] = pd.to_datetime(df_1['Time'], format='%H:%M').dt.time

# Combine Date and Time columns into a single datetime column
df_1['DateTime'] = df_1.apply(lambda row: datetime.combine(row['Date'], row['Time']), axis=1)

# Format the combined datetime column to the desired format
df_1['DateTime'] = df_1['DateTime'].dt.strftime('%m-%d %H:%M')

In [13]:
# Drop the Date and Time columns
df_1.drop(columns=['Date', 'Time'], inplace=True)
# Rearrange 'DateTime' column to be the first column
column_to_move = df_1.pop('DateTime')
df_1.insert(0, 'DateTime', column_to_move)

In [86]:
df_1.reset_index(drop=True, inplace=True)
# Export the DataFrame to a CSV file
df_1.to_csv('simulation_results_1_completed.csv', index=False)

# Simulation results 2

In [20]:
df_2 = pd.read_csv('simulation_results_2.csv', header=1)
df_2.head(10)

,Unnamed: 0,Unnamed: 1,System elec. CE (kgCO2/h),Total lights CE (kgCO2/h),Lights elec. CE (kgCO2/h),Total equip CE (kgCO2/h),Equip elec. CE (kgCO2/h),Room heating plant sens. load (kW),Wet-bulb temperature (�C),External dew-point temp. (�C),Room hum. plant load (kW),Daily running mean temp. (�C),System air heating load (kW)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Date,Time,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,NewcastleEWY.fwt,NewcastleEWY.fwt,18 Havelock-test-Newcastle.aps,NewcastleEWY.fwt,18 Havelock-test-Newcastle.aps
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Sun, 01/Jan",24:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,00:15,0.0,0.0,0.0,0.1,0.1,0.6181,NaN,NaN,0.0000,NaN,0.0000
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,00:45,0.0,0.0,0.0,0.1,0.1,0.6194,NaN,NaN,0.0000,NaN,0.0000

In [21]:
df_2.rename(columns={'Unnamed: 0': 'Date', 'Unnamed: 1': 'Time', 'Wet-bulb temperature (�C)': 'Wet-bulb temperature (°C)', 'External dew-point temp. (�C)': 'External dew-point temp. (°C)', 'Daily running mean temp. (�C)': 'Daily running mean temp. (°C)'}, inplace=True)
df_len_2 = len(df_2["Date"])
# Drop the first 5 rows
df_2 = df_2.drop(df_2.index[:5])

df_2.head(20)

,Date,Time,System elec. CE (kgCO2/h),Total lights CE (kgCO2/h),Lights elec. CE (kgCO2/h),Total equip CE (kgCO2/h),Equip elec. CE (kgCO2/h),Room heating plant sens. load (kW),Wet-bulb temperature (°C),External dew-point temp. (°C),Room hum. plant load (kW),Daily running mean temp. (°C),System air heating load (kW)
5,"Sun, 01/Jan",24:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,00:15,0.0,0.0,0.0,0.1,0.1,0.6181,NaN,NaN,0.0000,NaN,0.0000
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,00:45,0.0,0.0,0.0,0.1,0.1,0.6194,NaN,NaN,0.0000,NaN,0.0000
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,01:00,NaN,NaN,NaN,NaN,NaN,NaN,3.70,1.38,NaN,5.65,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,01:15,0.0,0.0,0.0,0.1,0.1,0.6200,NaN,NaN,0.0000,NaN,0.0000
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,01:45,0.0,0.0,0.0,0.1,0.1,0.6196,NaN,NaN,0.0000,NaN,0.0000
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,02:00,NaN,NaN,NaN,NaN,NaN,NaN,3.70,1.38,NaN,5.65,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,02:15,0.0,0.0,0.0,0.1,0.1,0.6194,NaN,NaN,0.0000,NaN,0.0000
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,02:45,0.0,0.0,0.0,0.1,0.1,0.6191,NaN,NaN,0.0000,NaN,0.0000
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,03:00,NaN,NaN,NaN,NaN,NaN,NaN,3.70,1.38,NaN,5.65,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Custom date parser function
def custom_date_parser(date_str):
    return pd.to_datetime(date_str, format='%a, %d/%b')

# Convert the Date column using the custom parser
df_2["Date"] = df_2["Date"].apply(custom_date_parser)
df_2["Date"] = df_2["Date"].dt.strftime('%m-%d')

for i in range(0, len(df_2["Date"]), 144):
    # Get the date from row 0
    date_to_duplicate = df_2.iloc[i]['Date']

    # Assign this date to rows 0 to 143
    df_2.iloc[i:144 + i, df_2.columns.get_loc('Date')] = date_to_duplicate

for i in range(6, len(df_2["Date"]), 6):
    temp_to_duplicate_1 = df_2.iloc[i]['Wet-bulb temperature (°C)']
    temp_to_duplicate_2 = df_2.iloc[i]['External dew-point temp. (°C)']
    temp_to_duplicate_3 = df_2.iloc[i]['Daily running mean temp. (°C)']
    
    
    df_2.iloc[i - 4, df_2.columns.get_loc('Wet-bulb temperature (°C)')] = temp_to_duplicate_1
    df_2.iloc[i - 2, df_2.columns.get_loc('Wet-bulb temperature (°C)')] = temp_to_duplicate_1
    
    df_2.iloc[i - 4, df_2.columns.get_loc('External dew-point temp. (°C)')] = temp_to_duplicate_2
    df_2.iloc[i - 2, df_2.columns.get_loc('External dew-point temp. (°C)')] = temp_to_duplicate_2
    
    df_2.iloc[i - 4, df_2.columns.get_loc('Daily running mean temp. (°C)')] = temp_to_duplicate_3
    df_2.iloc[i - 2, df_2.columns.get_loc('Daily running mean temp. (°C)')] = temp_to_duplicate_3

In [23]:
for i in range(6, df_len_2, 2):
    df_2.drop(i, inplace=True)

In [24]:
for i in range(5, df_len_2, 6):
    df_2.drop(i, inplace=True)

In [25]:
df_2.iloc[-1, df_2.columns.get_loc('Wet-bulb temperature (°C)')] = df_2.iloc[-3]['Wet-bulb temperature (°C)']
df_2.iloc[-2, df_2.columns.get_loc('Wet-bulb temperature (°C)')] = df_2.iloc[-3]['Wet-bulb temperature (°C)']

df_2.iloc[-1, df_2.columns.get_loc('External dew-point temp. (°C)')] = df_2.iloc[-3]['External dew-point temp. (°C)']
df_2.iloc[-2, df_2.columns.get_loc('External dew-point temp. (°C)')] = df_2.iloc[-3]['External dew-point temp. (°C)']

df_2.iloc[-1, df_2.columns.get_loc('Daily running mean temp. (°C)')] = df_2.iloc[-3]['Daily running mean temp. (°C)']
df_2.iloc[-2, df_2.columns.get_loc('Daily running mean temp. (°C)')] = df_2.iloc[-3]['Daily running mean temp. (°C)']

In [26]:
# Convert Date and Time columns to datetime objects
df_2['Date'] = pd.to_datetime(df_2['Date'], format='%m-%d')
df_2['Time'] = pd.to_datetime(df_2['Time'], format='%H:%M').dt.time

# Combine Date and Time columns into a single datetime column
df_2['DateTime'] = df_2.apply(lambda row: datetime.combine(row['Date'], row['Time']), axis=1)

# Format the combined datetime column to the desired format
df_2['DateTime'] = df_2['DateTime'].dt.strftime('%m-%d %H:%M')

In [27]:
# Drop the Date and Time columns
df_2.drop(columns=['Date', 'Time'], inplace=True)
# Rearrange 'DateTime' column to be the first column
column_to_move = df_2.pop('DateTime')
df_2.insert(0, 'DateTime', column_to_move)

In [85]:
df_2.reset_index(drop=True, inplace=True)
# Export the DataFrame to a CSV file
df_2.to_csv('simulation_results_2_completed.csv', index=False)

# Simulation results 3

In [32]:
df_3 = pd.read_csv('simulation_results_3.csv', header=1)
df_3.head(10)

,Unnamed: 0,Unnamed: 1,Aux vent heating load (kW),Max. adaptive temp. (�C),Wind speed (m/s),Wind direction[E of N] (deg.),Boilers load (kW),Direct radiation (W/m�),Ap Sys boilers load (kW),Boilers energy (kBtu/h),Diffuse radiation (W/m�),Global radiation (W/m�),Solar altitude (deg.)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Date,Time,18 Havelock-test-Newcastle.aps,NewcastleEWY.fwt,NewcastleEWY.fwt,NewcastleEWY.fwt,18 Havelock-test-Newcastle.aps,NewcastleEWY.fwt,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,NewcastleEWY.fwt,NewcastleEWY.fwt,NewcastleEWY.fwt
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Sun, 01/Jan",24:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,00:15,0.0000,NaN,NaN,NaN,1.9105,NaN,1.9105,7.325,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,00:45,0.0000,NaN,NaN,NaN,1.9119,NaN,1.9119,7.330,NaN,NaN,NaN

In [33]:
df_3.rename(columns={'Unnamed: 0': 'Date', 'Unnamed: 1': 'Time', 'Max. adaptive temp. (�C)': 'Max. adaptive temp. (°C)', 'Direct radiation (W/m�)': 'Direct radiation (W/m²)', 'Diffuse radiation (W/m�)': 'Diffuse radiation (W/m²)', 'Global radiation (W/m�)': 'Global radiation (W/m²)'}, inplace=True)
df_len_3 = len(df_3["Date"])
# Drop the first 5 rows
df_3 = df_3.drop(df_3.index[:5])

df_3.head(20)

,Date,Time,Aux vent heating load (kW),Max. adaptive temp. (°C),Wind speed (m/s),Wind direction[E of N] (deg.),Boilers load (kW),Direct radiation (W/m²),Ap Sys boilers load (kW),Boilers energy (kBtu/h),Diffuse radiation (W/m²),Global radiation (W/m²),Solar altitude (deg.)
5,"Sun, 01/Jan",24:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,00:15,0.0000,NaN,NaN,NaN,1.9105,NaN,1.9105,7.325,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,00:45,0.0000,NaN,NaN,NaN,1.9119,NaN,1.9119,7.330,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,01:00,NaN,23.67,6.00,120.0,NaN,0.000,NaN,NaN,0.000,0.000,0.0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,01:15,0.0000,NaN,NaN,NaN,1.9126,NaN,1.9126,7.333,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,01:45,0.0000,NaN,NaN,NaN,1.9122,NaN,1.9122,7.331,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,02:00,NaN,23.67,6.50,120.0,NaN,0.000,NaN,NaN,0.000,0.000,0.0
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,02:15,0.0000,NaN,NaN,NaN,1.9120,NaN,1.9120,7.330,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,02:45,0.0000,NaN,NaN,NaN,1.9116,NaN,1.9116,7.329,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,03:00,NaN,23.67,6.50,120.0,NaN,0.000,NaN,NaN,0.000,0.000,0.0
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
# Custom date parser function
def custom_date_parser(date_str):
    return pd.to_datetime(date_str, format='%a, %d/%b')

# Convert the Date column using the custom parser
df_3["Date"] = df_3["Date"].apply(custom_date_parser)
df_3["Date"] = df_3["Date"].dt.strftime('%m-%d')

for i in range(0, len(df_3["Date"]), 144):
    # Get the date from row 0
    date_to_duplicate = df_3.iloc[i]['Date']

    # Assign this date to rows 0 to 143
    df_3.iloc[i:144 + i, df_3.columns.get_loc('Date')] = date_to_duplicate

for i in range(6, len(df_3["Date"]), 6):
    temp_to_duplicate_1 = df_3.iloc[i]['Max. adaptive temp. (°C)']
    temp_to_duplicate_2 = df_3.iloc[i]['Direct radiation (W/m²)']
    temp_to_duplicate_3 = df_3.iloc[i]['Diffuse radiation (W/m²)']
    temp_to_duplicate_4 = df_3.iloc[i]['Global radiation (W/m²)']
    temp_to_duplicate_5 = df_3.iloc[i]['Wind speed (m/s)']
    temp_to_duplicate_6 = df_3.iloc[i]['Wind direction[E of N] (deg.)']
    temp_to_duplicate_7 = df_3.iloc[i]['Solar altitude (deg.)']
    
    
    df_3.iloc[i - 4, df_3.columns.get_loc('Max. adaptive temp. (°C)')] = temp_to_duplicate_1
    df_3.iloc[i - 2, df_3.columns.get_loc('Max. adaptive temp. (°C)')] = temp_to_duplicate_1
    
    df_3.iloc[i - 4, df_3.columns.get_loc('Direct radiation (W/m²)')] = temp_to_duplicate_2
    df_3.iloc[i - 2, df_3.columns.get_loc('Direct radiation (W/m²)')] = temp_to_duplicate_2
    
    df_3.iloc[i - 4, df_3.columns.get_loc('Diffuse radiation (W/m²)')] = temp_to_duplicate_3
    df_3.iloc[i - 2, df_3.columns.get_loc('Diffuse radiation (W/m²)')] = temp_to_duplicate_3
    
    df_3.iloc[i - 4, df_3.columns.get_loc('Global radiation (W/m²)')] = temp_to_duplicate_4
    df_3.iloc[i - 2, df_3.columns.get_loc('Global radiation (W/m²)')] = temp_to_duplicate_4
    
    df_3.iloc[i - 4, df_3.columns.get_loc('Wind speed (m/s)')] = temp_to_duplicate_5
    df_3.iloc[i - 2, df_3.columns.get_loc('Wind speed (m/s)')] = temp_to_duplicate_5
    
    df_3.iloc[i - 4, df_3.columns.get_loc('Wind direction[E of N] (deg.)')] = temp_to_duplicate_6
    df_3.iloc[i - 2, df_3.columns.get_loc('Wind direction[E of N] (deg.)')] = temp_to_duplicate_6
    
    df_3.iloc[i - 4, df_3.columns.get_loc('Solar altitude (deg.)')] = temp_to_duplicate_7
    df_3.iloc[i - 2, df_3.columns.get_loc('Solar altitude (deg.)')] = temp_to_duplicate_7

In [36]:
for i in range(6, df_len_3, 2):
    df_3.drop(i, inplace=True)

In [37]:
for i in range(5, df_len_3, 6):
    df_3.drop(i, inplace=True)

In [38]:
df_3.iloc[-1, df_3.columns.get_loc('Max. adaptive temp. (°C)')] = df_3.iloc[-3]['Max. adaptive temp. (°C)']
df_3.iloc[-2, df_3.columns.get_loc('Max. adaptive temp. (°C)')] = df_3.iloc[-3]['Max. adaptive temp. (°C)']

df_3.iloc[-1, df_3.columns.get_loc('Direct radiation (W/m²)')] = df_3.iloc[-3]['Direct radiation (W/m²)']
df_3.iloc[-2, df_3.columns.get_loc('Direct radiation (W/m²)')] = df_3.iloc[-3]['Direct radiation (W/m²)']

df_3.iloc[-1, df_3.columns.get_loc('Diffuse radiation (W/m²)')] = df_3.iloc[-3]['Diffuse radiation (W/m²)']
df_3.iloc[-2, df_3.columns.get_loc('Diffuse radiation (W/m²)')] = df_3.iloc[-3]['Diffuse radiation (W/m²)']

df_3.iloc[-1, df_3.columns.get_loc('Global radiation (W/m²)')] = df_3.iloc[-3]['Global radiation (W/m²)']
df_3.iloc[-2, df_3.columns.get_loc('Global radiation (W/m²)')] = df_3.iloc[-3]['Global radiation (W/m²)']

df_3.iloc[-1, df_3.columns.get_loc('Wind speed (m/s)')] = df_3.iloc[-3]['Wind speed (m/s)']
df_3.iloc[-2, df_3.columns.get_loc('Wind speed (m/s)')] = df_3.iloc[-3]['Wind speed (m/s)']

df_3.iloc[-1, df_3.columns.get_loc('Wind direction[E of N] (deg.)')] = df_3.iloc[-3]['Wind direction[E of N] (deg.)']
df_3.iloc[-2, df_3.columns.get_loc('Wind direction[E of N] (deg.)')] = df_3.iloc[-3]['Wind direction[E of N] (deg.)']

df_3.iloc[-1, df_3.columns.get_loc('Solar altitude (deg.)')] = df_3.iloc[-3]['Solar altitude (deg.)']
df_3.iloc[-2, df_3.columns.get_loc('Solar altitude (deg.)')] = df_3.iloc[-3]['Solar altitude (deg.)']

In [39]:
# Convert Date and Time columns to datetime objects
df_3['Date'] = pd.to_datetime(df_3['Date'], format='%m-%d')
df_3['Time'] = pd.to_datetime(df_3['Time'], format='%H:%M').dt.time

# Combine Date and Time columns into a single datetime column
df_3['DateTime'] = df_3.apply(lambda row: datetime.combine(row['Date'], row['Time']), axis=1)

# Format the combined datetime column to the desired format
df_3['DateTime'] = df_3['DateTime'].dt.strftime('%m-%d %H:%M')

In [40]:
# Drop the Date and Time columns
df_3.drop(columns=['Date', 'Time'], inplace=True)
# Rearrange 'DateTime' column to be the first column
column_to_move = df_3.pop('DateTime')
df_3.insert(0, 'DateTime', column_to_move)

In [84]:
df_3.reset_index(drop=True, inplace=True)
# Export the DataFrame to a CSV file
df_3.to_csv('simulation_results_3_completed.csv', index=False)

# Simulation results 4

In [42]:
df_4 = pd.read_csv('simulation_results_4.csv', header=1)
df_4.head(10)

,Unnamed: 0,Unnamed: 1,Ap Sys boilers energy (kBtu/h),Ap Sys boilers space cond'g load (kW),Solar azimuth (deg.),Ap Sys boilers DHW load (kW),Ap Sys boilers space cond'g energy (kBtu/h),Cloud cover (oktas),Ap Sys boilers DHW energy (kBtu/h),Atmospheric pressure (Pa),External relative humidity (%),External moisture content (kg/kg),System grid disp. elec. PV CE (kgCO2/h)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Date,Time,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,NewcastleEWY.fwt,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,NewcastleEWY.fwt,18 Havelock-test-Newcastle.aps,NewcastleEWY.fwt,NewcastleEWY.fwt,NewcastleEWY.fwt,18 Havelock-test-Newcastle.aps
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Sun, 01/Jan",24:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,00:15,7.325,0.6876,NaN,1.2229,2.636,NaN,4.688,NaN,NaN,NaN,0.0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,00:45,7.330,0.6890,NaN,1.2229,2.642,NaN,4.688,NaN,NaN,NaN,0.0

In [43]:
df_4 = df_4.rename(columns={'Unnamed: 0': 'Date', 'Unnamed: 1': 'Time'})
df_len_4 = len(df_4["Date"])
# Drop the first 5 rows
df_4 = df_4.drop(df_4.index[:5])

df_4.head(20)

,Date,Time,Ap Sys boilers energy (kBtu/h),Ap Sys boilers space cond'g load (kW),Solar azimuth (deg.),Ap Sys boilers DHW load (kW),Ap Sys boilers space cond'g energy (kBtu/h),Cloud cover (oktas),Ap Sys boilers DHW energy (kBtu/h),Atmospheric pressure (Pa),External relative humidity (%),External moisture content (kg/kg),System grid disp. elec. PV CE (kgCO2/h)
5,"Sun, 01/Jan",24:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,00:15,7.325,0.6876,NaN,1.2229,2.636,NaN,4.688,NaN,NaN,NaN,0.0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,00:45,7.330,0.6890,NaN,1.2229,2.642,NaN,4.688,NaN,NaN,NaN,0.0
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,01:00,NaN,NaN,21.2,NaN,NaN,8.00,NaN,101090,74.7,0.00420,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,01:15,7.333,0.6897,NaN,1.2229,2.644,NaN,4.688,NaN,NaN,NaN,0.0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,01:45,7.331,0.6893,NaN,1.2229,2.643,NaN,4.688,NaN,NaN,NaN,0.0
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,02:00,NaN,NaN,43.5,NaN,NaN,7.99,NaN,101070,74.7,0.00420,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,02:15,7.330,0.6891,NaN,1.2229,2.642,NaN,4.688,NaN,NaN,NaN,0.0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,02:45,7.329,0.6888,NaN,1.2229,2.641,NaN,4.688,NaN,NaN,NaN,0.0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,03:00,NaN,NaN,61.6,NaN,NaN,8.00,NaN,101030,74.7,0.00420,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
# Custom date parser function
def custom_date_parser(date_str):
    return pd.to_datetime(date_str, format='%a, %d/%b')

# Convert the Date column using the custom parser
df_4["Date"] = df_4["Date"].apply(custom_date_parser)
df_4["Date"] = df_4["Date"].dt.strftime('%m-%d')

for i in range(0, len(df_4["Date"]), 144):
    # Get the date from row 0
    date_to_duplicate = df_4.iloc[i]['Date']

    # Assign this date to rows 0 to 143
    df_4.iloc[i:144 + i, df_4.columns.get_loc('Date')] = date_to_duplicate

for i in range(6, len(df_4["Date"]), 6):
    temp_to_duplicate_1 = df_4.iloc[i]['Solar azimuth (deg.)']
    temp_to_duplicate_2 = df_4.iloc[i]['Cloud cover (oktas)']
    temp_to_duplicate_3 = df_4.iloc[i]['Atmospheric pressure (Pa)']
    temp_to_duplicate_4 = df_4.iloc[i]['External relative humidity (%)']
    temp_to_duplicate_5 = df_4.iloc[i]['External moisture content (kg/kg)']
    
    
    
    df_4.iloc[i - 4, df_4.columns.get_loc('Solar azimuth (deg.)')] = temp_to_duplicate_1
    df_4.iloc[i - 2, df_4.columns.get_loc('Solar azimuth (deg.)')] = temp_to_duplicate_1
    
    df_4.iloc[i - 4, df_4.columns.get_loc('Cloud cover (oktas)')] = temp_to_duplicate_2
    df_4.iloc[i - 2, df_4.columns.get_loc('Cloud cover (oktas)')] = temp_to_duplicate_2
    
    df_4.iloc[i - 4, df_4.columns.get_loc('Atmospheric pressure (Pa)')] = temp_to_duplicate_3
    df_4.iloc[i - 2, df_4.columns.get_loc('Atmospheric pressure (Pa)')] = temp_to_duplicate_3
    
    df_4.iloc[i - 4, df_4.columns.get_loc('External relative humidity (%)')] = temp_to_duplicate_4
    df_4.iloc[i - 2, df_4.columns.get_loc('External relative humidity (%)')] = temp_to_duplicate_4
    
    df_4.iloc[i - 4, df_4.columns.get_loc('External moisture content (kg/kg)')] = temp_to_duplicate_5
    df_4.iloc[i - 2, df_4.columns.get_loc('External moisture content (kg/kg)')] = temp_to_duplicate_5

In [45]:
for i in range(6, df_len_4, 2):
    df_4.drop(i, inplace=True)

In [46]:
for i in range(5, df_len_4, 6):
    df_4.drop(i, inplace=True)

In [47]:
df_4.iloc[-1, df_4.columns.get_loc('Solar azimuth (deg.)')] = df_4.iloc[-3]['Solar azimuth (deg.)']
df_4.iloc[-2, df_4.columns.get_loc('Solar azimuth (deg.)')] = df_4.iloc[-3]['Solar azimuth (deg.)']

df_4.iloc[-1, df_4.columns.get_loc('Cloud cover (oktas)')] = df_4.iloc[-3]['Cloud cover (oktas)']
df_4.iloc[-2, df_4.columns.get_loc('Cloud cover (oktas)')] = df_4.iloc[-3]['Cloud cover (oktas)']

df_4.iloc[-1, df_4.columns.get_loc('Atmospheric pressure (Pa)')] = df_4.iloc[-3]['Atmospheric pressure (Pa)']
df_4.iloc[-2, df_4.columns.get_loc('Atmospheric pressure (Pa)')] = df_4.iloc[-3]['Atmospheric pressure (Pa)']

df_4.iloc[-1, df_4.columns.get_loc('External relative humidity (%)')] = df_4.iloc[-3]['External relative humidity (%)']
df_4.iloc[-2, df_4.columns.get_loc('External relative humidity (%)')] = df_4.iloc[-3]['External relative humidity (%)']

df_4.iloc[-1, df_4.columns.get_loc('External moisture content (kg/kg)')] = df_4.iloc[-3]['External moisture content (kg/kg)']
df_4.iloc[-2, df_4.columns.get_loc('External moisture content (kg/kg)')] = df_4.iloc[-3]['External moisture content (kg/kg)']

In [48]:
# Convert Date and Time columns to datetime objects
df_4['Date'] = pd.to_datetime(df_4['Date'], format='%m-%d')
df_4['Time'] = pd.to_datetime(df_4['Time'], format='%H:%M').dt.time

# Combine Date and Time columns into a single datetime column
df_4['DateTime'] = df_4.apply(lambda row: datetime.combine(row['Date'], row['Time']), axis=1)

# Format the combined datetime column to the desired format
df_4['DateTime'] = df_4['DateTime'].dt.strftime('%m-%d %H:%M')

In [49]:
# Drop the Date and Time columns
df_4.drop(columns=['Date', 'Time'], inplace=True)
# Rearrange 'DateTime' column to be the first column
column_to_move = df_4.pop('DateTime')
df_4.insert(0, 'DateTime', column_to_move)

In [83]:
df_4.reset_index(drop=True, inplace=True)
# Export the DataFrame to a CSV file
df_4.to_csv('simulation_results_4_completed.csv', index=False)

# Simulation results 5

In [63]:
df_5 = pd.read_csv('simulation_results_5.csv', header=1)
df_5.head(10)

/var/folders/rr/ntbzcq0130b7swcl62nshrfc0000gn/T/ipykernel_82250/1517573370.py:1: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_5 = pd.read_csv('simulation_results_5.csv', header=1)

,Unnamed: 0,Unnamed: 1,System grid disp. elec. PV CE (kgCO2/h),Room cooling plant sens. load (kW),Chillers energy (kBtu/h),Ap Sys chillers energy (kBtu/h),Room dehum. plant load (kW),System air sens. clg. load (kW),System air lat. clg. load (kW),Aux vent sens. clg. load (kW),Aux vent lat. clg. load (kW),Chillers load (kW),Ap Sys chillers load (kW),Ap Sys aux + DHW/solar pumps energy (kBtu/h),Ap Sys heat rej fans/pumps energy (kBtu/h),PV generated electricity (kBtu/h),DHW heating demand (kW),Total nat. gas CE (kgCO2/h),Total elec. CE (kgCO2/h)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Date,Time,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Sun, 01/Jan",00:15,0.0,0.0000,0.000,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.135,0.000,0.000,1.1617,0.5,0.1
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,00:45,0.0,0.0000,0.000,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.135,0.000,0.000,1.1617,0.5,0.1
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,01:15,0.0,0.0000,0.000,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.135,0.000,0.000,1.1617,0.5,0.1

In [64]:
df_5 = df_5.rename(columns={'Unnamed: 0': 'Date', 'Unnamed: 1': 'Time'})
df_len_5 = len(df_5["Date"])
# Drop the first 5 rows
df_5 = df_5.drop(df_5.index[:5])

df_5.head(20)

,Date,Time,System grid disp. elec. PV CE (kgCO2/h),Room cooling plant sens. load (kW),Chillers energy (kBtu/h),Ap Sys chillers energy (kBtu/h),Room dehum. plant load (kW),System air sens. clg. load (kW),System air lat. clg. load (kW),Aux vent sens. clg. load (kW),Aux vent lat. clg. load (kW),Chillers load (kW),Ap Sys chillers load (kW),Ap Sys aux + DHW/solar pumps energy (kBtu/h),Ap Sys heat rej fans/pumps energy (kBtu/h),PV generated electricity (kBtu/h),DHW heating demand (kW),Total nat. gas CE (kgCO2/h),Total elec. CE (kgCO2/h)
5,"Sun, 01/Jan",00:15,0.0,0.0000,0.000,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.135,0.000,0.000,1.1617,0.5,0.1
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,00:45,0.0,0.0000,0.000,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.135,0.000,0.000,1.1617,0.5,0.1
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,01:15,0.0,0.0000,0.000,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.135,0.000,0.000,1.1617,0.5,0.1
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,01:45,0.0,0.0000,0.000,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.135,0.000,0.000,1.1617,0.5,0.1
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,02:15,0.0,0.0000,0.000,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.135,0.000,0.000,1.1617,0.5,0.1
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,02:45,0.0,0.0000,0.000,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.135,0.000,0.000,1.1617,0.5,0.1
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,03:15,0.0,0.0000,0.000,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.135,0.000,0.000,1.1617,0.5,0.1
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,03:45,0.0,0.0000,0.000,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.135,0.000,0.000,1.1617,0.5,0.1
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,04:15,0.0,0.0000,0.000,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.135,0.000,0.000,1.1617,0.5,0.1
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,04:45,0.0,0.0000,0.000,0.000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.135,0.000,0.000,1.1617,0.5,0.1
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
# Custom date parser function
def custom_date_parser(date_str):
    return pd.to_datetime(date_str, format='%a, %d/%b')

# Convert the Date column using the custom parser
df_5["Date"] = df_5["Date"].apply(custom_date_parser)
df_5["Date"] = df_5["Date"].dt.strftime('%m-%d')

for i in range(0, len(df_5["Date"]), 96):
    # Get the date from row 0
    date_to_duplicate = df_5.iloc[i]['Date']

    # Assign this date to rows 0 to 96
    df_5.iloc[i:96 + i, df_5.columns.get_loc('Date')] = date_to_duplicate

In [66]:
for i in range(6, df_len_5, 2):
    df_5.drop(i, inplace=True)

In [68]:
# Convert Date and Time columns to datetime objects
df_5['Date'] = pd.to_datetime(df_5['Date'], format='%m-%d')
df_5['Time'] = pd.to_datetime(df_5['Time'], format='%H:%M').dt.time

# Combine Date and Time columns into a single datetime column
df_5['DateTime'] = df_5.apply(lambda row: datetime.combine(row['Date'], row['Time']), axis=1)

# Format the combined datetime column to the desired format
df_5['DateTime'] = df_5['DateTime'].dt.strftime('%m-%d %H:%M')

In [69]:
# Drop the Date and Time columns
df_5.drop(columns=['Date', 'Time'], inplace=True)
# Rearrange 'DateTime' column to be the first column
column_to_move = df_5.pop('DateTime')
df_5.insert(0, 'DateTime', column_to_move)

In [82]:
df_5.reset_index(drop=True, inplace=True)
# Export the DataFrame to a CSV file
df_5.to_csv('simulation_results_5_completed.csv', index=False)

# Simulation resutls 6

In [71]:
df_6 = pd.read_csv('simulation_results_6.csv', header=1)
df_6.head(10)

,Unnamed: 0,Unnamed: 1,System grid displaced elec. PV (kBtu/h),Total grid disp. elec. PV CE (kgCO2/h),Total CE (kgCO2/h),Electricity (mu),Gas (mu),Renewables (mu),Total nat. gas (kBtu/h),Total electricity (kBtu/h),Total grid displaced elec. PV (kBtu/h),Total energy (kBtu/h),Transformer Losses (kBtu/h)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Date,Time,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps,18 Havelock-test-Newcastle.aps
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Sun, 01/Jan",00:15,0.000,0.0,0.6,0.06,0.03,0.00,7.325,3.048,0.000,10.372,0.000
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,00:45,0.000,0.0,0.6,0.06,0.03,0.00,7.330,3.048,0.000,10.378,0.000
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,01:15,0.000,0.0,0.6,0.06,0.03,0.00,7.333,3.048,0.000,10.380,0.000

In [72]:
df_6 = df_6.rename(columns={'Unnamed: 0': 'Date', 'Unnamed: 1': 'Time'})
df_len_6 = len(df_6["Date"])
# Drop the first 5 rows
df_6 = df_6.drop(df_6.index[:5])

df_6.head(20)

,Date,Time,System grid displaced elec. PV (kBtu/h),Total grid disp. elec. PV CE (kgCO2/h),Total CE (kgCO2/h),Electricity (mu),Gas (mu),Renewables (mu),Total nat. gas (kBtu/h),Total electricity (kBtu/h),Total grid displaced elec. PV (kBtu/h),Total energy (kBtu/h),Transformer Losses (kBtu/h)
5,"Sun, 01/Jan",00:15,0.000,0.0,0.6,0.06,0.03,0.00,7.325,3.048,0.000,10.372,0.000
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,00:45,0.000,0.0,0.6,0.06,0.03,0.00,7.330,3.048,0.000,10.378,0.000
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,01:15,0.000,0.0,0.6,0.06,0.03,0.00,7.333,3.048,0.000,10.380,0.000
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,01:45,0.000,0.0,0.6,0.06,0.03,0.00,7.331,3.048,0.000,10.379,0.000
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,02:15,0.000,0.0,0.6,0.06,0.03,0.00,7.330,3.048,0.000,10.378,0.000
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,02:45,0.000,0.0,0.6,0.06,0.03,0.00,7.329,3.048,0.000,10.377,0.000
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,03:15,0.000,0.0,0.6,0.06,0.03,0.00,7.328,3.048,0.000,10.375,0.000
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,03:45,0.000,0.0,0.6,0.06,0.03,0.00,7.327,3.048,0.000,10.375,0.000
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,04:15,0.000,0.0,0.6,0.06,0.03,0.00,7.327,3.048,0.000,10.375,0.000
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,04:45,0.000,0.0,0.6,0.06,0.03,0.00,7.326,3.048,0.000,10.373,0.000
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
# Custom date parser function
def custom_date_parser(date_str):
    return pd.to_datetime(date_str, format='%a, %d/%b')

# Convert the Date column using the custom parser
df_6["Date"] = df_6["Date"].apply(custom_date_parser)
df_6["Date"] = df_6["Date"].dt.strftime('%m-%d')

for i in range(0, len(df_6["Date"]), 96):
    # Get the date from row 0
    date_to_duplicate = df_6.iloc[i]['Date']

    # Assign this date to rows 0 to 96
    df_6.iloc[i:96 + i, df_6.columns.get_loc('Date')] = date_to_duplicate

In [74]:
for i in range(6, df_len_6, 2):
    df_6.drop(i, inplace=True)

In [75]:
# Convert Date and Time columns to datetime objects
df_6['Date'] = pd.to_datetime(df_6['Date'], format='%m-%d')
df_6['Time'] = pd.to_datetime(df_6['Time'], format='%H:%M').dt.time

# Combine Date and Time columns into a single datetime column
df_6['DateTime'] = df_6.apply(lambda row: datetime.combine(row['Date'], row['Time']), axis=1)

# Format the combined datetime column to the desired format
df_6['DateTime'] = df_6['DateTime'].dt.strftime('%m-%d %H:%M')

In [76]:
# Drop the Date and Time columns
df_6.drop(columns=['Date', 'Time'], inplace=True)
# Rearrange 'DateTime' column to be the first column
column_to_move = df_6.pop('DateTime')
df_6.insert(0, 'DateTime', column_to_move)

In [81]:
df_6.reset_index(drop=True, inplace=True)
# Export the DataFrame to a CSV file
df_6.to_csv('simulation_results_6_completed.csv', index=False)

# Concatenate simulation results

In [90]:
# Concatenate DataFrames horizontally
df_2_na = df_2.drop(columns=['DateTime'], inplace=False)
df_3_na = df_3.drop(columns=['DateTime'], inplace=False)
df_4_na = df_4.drop(columns=['DateTime'], inplace=False)
df_5_na = df_5.drop(columns=['DateTime'], inplace=False)
df_6_na = df_6.drop(columns=['DateTime'], inplace=False)
sim_results = pd.concat([df_1, df_2_na, df_3_na, df_4_na, df_5_na, df_6_na], axis=1)

In [91]:
# Export the DataFrame to a CSV file
sim_results.to_csv('simulation_results_concatenated.csv', index=False)